@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0f1e;
  --foreground: #e5e7eb;
  --surface: #111827;
  --accent: #375BD2;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
